.blue {
    border: 1px solid blue;
    /* border: none; */
}

body {
    position: relative;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.accountPopButton {
    width: 80%;
}

.topBar {
    width: 100%;
    margin: 0 auto;
}