<p>
    Use 'wasd' to move. Don't get hit by cars.
    (You can also touch the w/a/s/d buttons in the bottom right.)
    Also you can't run through the buildings.
    Cars also can't go through the buildings.
    You also have 3 abilities:
    Q which teleports a short distance,
    E which increases your speed (press again to turn off), and
    R which fires a laser in every direction.
    (Abilites can be actived with their respective key,
    or by tapping the icon in the bottom left.)
    Goal: Go as far up as possible.
    Touch button in top right (or press Esc) to show the pause menu.
    From the pause menu you can toggle the music, save, or quit.
</p>

<a href="{% url 'NeoCrosser:backToIndex' %}">
    <button type="button">
        Back
    </button>
</a>