html {
    height: 100%;
    background-color: #2d7f9d;
}

body {
    background-color: #a4c9d7;
    max-width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
}

h1 {
    color: #e4ca99;
    background-color: #3A5874;
    border-bottom: 3px solid #eaf2f4;
    border-left: 3px solid #eaf2f4;
    padding-left: 3px;
}

.textBlock {
    background-color: #3A5874;
    color: #eaf2f4;
    border: 3px solid #e4ca99;
    padding: 7px;
}

.sectionHead {
    background-color: #dc7684;
    color: #eaf2f4;
    padding-left: 3px;
}

.tldrLink {
    color: #e4ca99;
}

.normalLink {
    background-color: slategrey;
    color: #eaf2f4;
}

img {
    border: 3px solid #e4ca99;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: #3A5874;
}

hr {
    border-top: 2px solid #eaf2f4;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid #e4ca99;
}

td {
    border: 2px solid #eaf2f4;
    text-align: left;
    padding: 8px;
    color: #eaf2f4;
}

th {
    border: 2px solid #e4ca99;
    text-align: center;
    padding: 8px;
    color: #e4ca99;
}

tr:nth-child(even) {
    /* background-color: #a4c9d7; */
    border-top: 2px solid #e4ca99;
}


.header, .footer {
    background-color: #3A5874;
    color: white;
    padding: 7px;
}

.footer {
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.header {
    padding-left: 10px;
    /* padding-top: 8px; */
}

article {
    margin-top: 10px;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 20%;
    /* position: fixed; */
}

.content {
    width: 60%;
    padding-top: 0px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}

.menu li:hover {
    background-color: #0099cc;
}