html {
    height: 100%;
    background-color: #3A5874;
}

body {
    background-color: #aec6cf;
    max-width: 68vh;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 10px
}

h1 {
    color: #027524;
    background-color: #688a93;
    border-bottom: 3px solid #FAF8F6;
    border-left: 3px solid #FAF8F6;
    padding-left: 3px;
    margin-top: 1em;
}

h3 {
    background-color: #ff6961;
    color: #FAF8F6;
}

a {
    background-color: slategrey;
    color: snow;
}

img {
    border: 2px solid #77dd77;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: #3A5874;
}

hr {
    border-top: 2px solid #FAF8F6;
}