.blue {
    /* border: 1px solid blue; */
    border: none;
}


h1 {
    text-align: center;
}

.notice {
    color: red;
}

.fullWidth {
    width: 100%;
}

button {
    background: lightgray;
}

body {
    padding: 1em;
}