html {
    background-color: #000000;
    color: #ffffff;
}

canvas {
    border: 1px solid wheat;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}