{% extends "wordle/base.html" %}

{% block title %}Wordle+ Account Settings{% endblock %}

{% block body %}
    <a href="{% url 'wordle:display_change_setting' 'Password' %}">
        <button type="button">
            Change Password
        </button>
    </a>

    <a href="{% url 'wordle:display_change_setting' 'Username' %}">
        <button type="button">
            Change Username
        </button>
    </a>

    <a href="{% url 'wordle:display_change_setting' 'Display Name' %}">
        <button type="button">
            Change Display Name
        </button>
    </a>

    <a href="{% url 'wordle:back_to_welcome' %}">
        <button type="button">
            Back
        </button>
    </a>

    {% if sucess %}
        <strong>{{ sucess }}</strong>
    {% endif %}
{% endblock %}