<a href="{% url 'wordle:display_change_password' %}">
    <button type="button">
        Change Password
    </button>
</a>

<a href="{% url 'wordle:display_change_username' %}">
    <button type="button">
        Change Username
    </button>
</a>

<a href="{% url 'wordle:display_change_display_name' %}">
    <button type="button">
        Change Display Name
    </button>
</a>

<a href="{% url 'wordle:back_to_welcome' %}">
    <button type="button">
        Back
    </button>
</a>

{% if sucess %}
    <strong>{{ sucess }}</strong>
{% endif %}