<a href="{% url 'wordle:changePassword' %}">
    <button type="button">
        Change Password
    </button>
</a>

<a href="{% url 'wordle:changeUsername' %}">
    <button type="button">
        Change Username
    </button>
</a>

<a href="{% url 'wordle:changeDisplayName' %}">
    <button type="button">
        Change Display Name
    </button>
</a>

<a href="{% url 'wordle:backToIndex' %}">
    <button type="button">
        Back
    </button>
</a>

{% if sucess %}
    <strong>{{ sucess }}</strong>
{% endif %}