{% extends "wordle/base_menu.html" %}

<!-- Because the making an html for personal scores woukd only have these 2 lines
so it makes more sense to just make them the defaults -->
{% block title %}Wordle+ Your Scores{% endblock %} 
{% block header %}Your Scores{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/rankings.css' %}">
{% endblock %}

{% block content %}
    {% if scores %}
        <ul>
        {% for score in scores %}
            <li>{{ score }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No scores yet!</p>
    {% endif %}
{% endblock %}

{% block back_button %}
    <a href="{% url 'wordle:display_MP_hub' %}">
        <button class="smallButton" type="button">
            Back
        </button>
    </a>
{% endblock %}