<!DOCTYPE html>
<html charset="UTF-8" lang="en-US">

<head>
    <title>{% block title %}Wordle+{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="worlde unlimited offline single multiplayer play plus + free online">
    <meta name="description"
        content="All types of Wordle! From online globally ranked cups and tournaments to custom rules to original Wordle, this site has it all"
    >
    <meta name="author" content="Lelsers Lasers">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'wordle/favicon.ico' %}">
    {% block style %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'wordle/base.css' %}">
    {% endblock %}
    {% block js %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>