{% extends "wordle/base_menu.html" %}

{% block style %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/rankings.css' %}">
{% endblock %}

{% block content %}
    {% if scores %}
        {% block scoresBlock %}{% endblock %}
    {% else %}
        <p>No scores yet!</p>
    {% endif %}
{% endblock %}

{% block back_button %}
    <a href="{% url 'wordle:display_MP_hub' %}">
        <button class="smallButton" type="button">
            Back
        </button>
    </a>
{% endblock %}