{% extends "wordle/base_menu.html" %}

{% block style %}
{{ block.super }}
<style>
ul, ol {
    text-align: left;
    margin-left: 5%;
}

body {
    padding: 0;
    margin: 0;
}

#content {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    position: static;
    left: 0%;
    transform: translate(0%, 0%);
    margin: 0 auto;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
</style>
{% endblock %}

{% block content %}
    {% if scores %}
        {% block scoresBlock %}{% endblock %}
    {% else %}
        <p>No scores yet!</p>
    {% endif %}
{% endblock %}

{% block back_button %}
    <a href="{% url 'wordle:display_MP_hub' %}">
        <button class="smallButton" type="button">
            Back
        </button>
    </a>
{% endblock %}