{% extends "wordle/base_menu.html" %}

{% block title %}
    Wordle+ Change {{ setting }}
{% endblock %}

{% block js %}
<script defer>
function toggleVisibility(idNumber) {
    input = document.getElementById("password" + idNumber);
    button = document.getElementById("togglePassword");
    if (input.getAttribute("type") == "password"){
        input.setAttribute("type", "text");
        button.innerHTML = "<i class='toggleVisable'>(O)</i>";
    }
    else {
        input.setAttribute("type", "password");
        button.innerHTML = "<i class='toggleVisable'><s>(O)</s></i>";
    }
}
</script>
{% endblock %}

{% block header %}
    Change {{ setting }}
{% endblock %}

{% block content %}
    <form action="{% url 'wordle:change_setting' setting %}" method="post">
        {% csrf_token %}
            
        <label for="password">Current Password:</label>
        <br />
        <input type="password" id="password" name="password" value="{{ a }}" />
        <a id="togglePassword" onclick="toggleVisibility('')">
            <i class="toggleVisable">
                <s>(O)</s>
            </i>
        </a>
        <br />

        <label for="{{ setting }}1">New {{ setting }}:</label>
        <br />
        <input type="{{ type }}" id="{{ setting }}1" name="{{ setting }}1" value="{{ b }}" />
        <br />
        
        <label for="{{ setting }}2">Repeat New {{ setting }}:</label>
        <br />
        <input type="{{ type }}" id="{{ setting }}2" name="{{ setting }}2" value="{{ c }}" />
        <br />

        {% if error_message %}
            <strong>{{ error_message }}</strong>
        {% endif %}
        <br />

        <button type="submit">
            Login
        </button>
        <br />
    </form>
{% endblock %}

{% block back_button %}
    <a href="{% url 'wordle:display_account_settings' %}">
        <button class="smallButton" type="button">
            Back
        </button>
    </a>
{% endblock %}