<form action="{% url 'wordle:checkLogin' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Change Password</h1></legend>
        
        <label for="password">Current Password:</label>
        <br />
        <input type="password" id="password" name="password" value="{% if a %}{{ a }}{% endif %}">
        <br />

        {% if error_message %}
            <strong>{{ error_message }}</strong>
        {% endif %}
        <br />

    </fieldset>
    <input type="submit" value="Login" />
    <a href="{% url 'wordle:signup' %}">
        <button type="button">Don't have an account? (Signup)</button>
    </a>
</form>

<a href="{% url 'wordle:backToIndex' %}">
    <button type="button">
        Back
    </button>
</a>