<form action="{% url 'wordle:change_password' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Change Password</h1></legend>
        
        <label for="password">Current Password:</label>
        <br />
        <input type="password" id="password" name="password" value="{% if a %}{{ a }}{% endif %}">
        <br />

        <label for="password1">New Password:</label>
        <br />
        <input type="password" id="password1" name="password1" value="{% if b %}{{ b }}{% endif %}">
        <br />
        
        <label for="password2">Repeat New Password:</label>
        <br />
        <input type="password" id="password2" name="password2" value="{% if c %}{{ c }}{% endif %}">
        <br />

        {% if error_message %}
            <strong>{{ error_message }}</strong>
        {% endif %}
        <br />

    </fieldset>
    <input type="submit" value="Change password" />
</form>

<a href="{% url 'wordle:display_account_settings' %}">
    <button type="button">
        Back
    </button>
</a>