{% extends "wordle/base.html" %}

{% block title %}
    {% if mode %}
        Wordle+ SP
    {% else %}
        Wordle+ MP {{ cup }}
    {% endif %}
{% endblock %}

{% block style %}
{{ block.super }}
<style>
    :root {
        --c5: #8ec07c;
        --c6: #d79921;
        --c7: #fbf1c7;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .box {
        border: 2px solid var(--c2);
        color: var(--c3);
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 2px;
        text-align: center;
        font-size: 45px;
    }

    .default {
        background-color: var(--c2);
    }

    .green {
        background-color: var(--c5);
        border: 2px solid var(--c5);
    }

    .yellow {
        background-color: var(--c6);
        border: 2px solid var(--c6);
    }

    .wrong {
        color: var(--c2);
    }

    .selected {
        background-color: var(--c7);
        border: 2px solid var(--c4);
    }

    h1, p {
        text-align: center;
    }

    button {
        border: 2px solid var(--c2);
    }

    .smallButton {
        border: none;
    }
</style>
{% endblock %}

{% block js %}
<script defer>
var word;
var availableWords = [];
var startTime;
var takenTime;

var wordLen;
var tries;
var infiniteTries = false;

var guesses;
var stat;
var usedLetters;

var state = "game";
var alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];

var guessPos = [0, 0];

document.addEventListener("keydown", keyDownHandler, false);

function alphabetKey(id) {
    let e = {
        'key': document.getElementById(id).innerHTML,
    }
    keyDownHandler(e);
}

function keyDownHandler(e) {
    if (state == "game") {
        if (e.key == "Backspace") {
            guesses[guessPos[0]][guessPos[1] - 1] = "";
            if (guessPos[1] > 0) guessPos[1]--;
            document.getElementById("info").innerHTML = "";
        }
        if (guessPos[1] >= wordLen) {
            if (e.key == "Enter") {
                let guessWord = guesses[guessPos[0]].join("").toLowerCase();
                if (search(guessWord)) {
                    guessPos[1] = 0;
                    let match = 0;
                    for (let i = 0; i < wordLen; i++) {
                        if (guesses[guessPos[0]][i] == word.charAt(i).toUpperCase()) {
                            stat[guessPos[0]][i] = 2;
                            match++;
                            usedLetters[alphabet.indexOf(guesses[guessPos[0]][i].toLowerCase())] = 2;
                        }
                        else if (word.toUpperCase().split("").includes(guesses[guessPos[0]][i])) {
                            stat[guessPos[0]][i] = 1;
                            if (usedLetters[alphabet.indexOf(guesses[guessPos[0]][i].toLowerCase())] < 1) {
                                usedLetters[alphabet.indexOf(guesses[guessPos[0]][i].toLowerCase())] = 1;
                            }
                        }
                        else {
                            stat[guessPos[0]][i] = -1;
                            usedLetters[alphabet.indexOf(guesses[guessPos[0]][i].toLowerCase())] = -1;
                        }
                    }
                    if (match == wordLen) {
                        state = "won";
                    }
                    else if (guessPos[0] >= tries - 1 && !infiniteTries) {
                        state = "lost";
                    }
                    guessPos[0]++;
                    document.getElementById("info").innerHTML = "";
                    if (infiniteTries && state == "game") {
                        tries++;
                        guesses.push([]);
                        for (let j = 0; j < wordLen; j++) {
                            guesses[guesses.length - 1].push("");
                        }
                        stat.push([]);
                        for (let j = 0; j < wordLen; j++) {
                            stat[stat.length - 1].push(0);
                        }
                    }
                }
                else {
                    document.getElementById("info").innerHTML = "Guesses must be words";
                }
            }
        }
        else if (alphabet.includes(e.key.toLowerCase())) {
            guesses[guessPos[0]][guessPos[1]] = e.key.toUpperCase();
            guessPos[1]++;
        }
        draw();
    }
}

function draw() {
    main = document.getElementById("holder");
    main.innerHTML = "";

    for (let i = 0; i < tries; i++) {
        let txt = "";
        for (let j = 0; j < wordLen; j++) {
            colorStyle = "default";
            if (stat[i][j] == 1) colorStyle = "yellow";
            else if (stat[i][j] == 2) colorStyle = "green";
            else if (stat[i][j] == -1) colorStyle = "wrong";
            else if (i == guessPos[0]) {
                if (guessPos[1] == j || (guessPos[1] == wordLen && j == wordLen - 1)) colorStyle = "selected";
            }
            txt += "<div class='box " + colorStyle + "' id='" + i + "-" + j +"'>"
                + guesses[i][j] + "</div>";
        }
        main.innerHTML += "<div class='row' id='row" + i + "'> " + txt + "</div>";
    }
    let txt = "";
    for (let i in alphabet) {
        colorStyles = ["default", "yellow", "green", "wrong"];
        txt += "<div class='box " + colorStyles[usedLetters[i]] + "' id='key" + alphabet[i] + "' onclick='alphabetKey(\"key" + alphabet[i] + "\")'>" + alphabet[i].toUpperCase() + "</div>";
    }
    txt += "<div class='box selected' id='keyenter' onclick='alphabetKey(\"keyenter\")'>Enter</div>";
    txt += "<div class='box selected' id='keybackspace' onclick='alphabetKey(\"keybackspace\")'>Backspace</div>";
    main.innerHTML += "<div class='row' id='usedLetters'>" + txt + "</div>";
    if (state == "lost") document.getElementById("info").innerHTML = "You lost! The correct word was: " + word;
    else if (state == "won") {
        let seconds = ((Date.now() - startTime)/1000).toFixed(0);
        takenTime = seconds;
        let minutes = 0;
        while (seconds > 60) {
            minutes++;
            seconds -= 60;
        }
        if (seconds < 10) seconds = "0" + seconds;
        if (minutes < 10) minutes = "0" + minutes;
        document.getElementById("info").innerHTML = "YOU WON!\nGuesses: " + guessPos[0] + ", time taken: " + minutes + ":" + seconds;
        if (document.getElementById("cupIn").value.trim() != "SP") {
            document.getElementById("MPSubmitButton").removeAttribute("hidden");
            document.getElementById("MPBackButton").setAttribute("hidden", "");
        }
        else {
            document.getElementById("showWord").setAttribute("hidden", "");
        }
    }
}

function sendScore() {
    document.getElementById("cupName").value = document.getElementById("cupIn").value;
    document.getElementById("word").value = word;
    document.getElementById("guesses").value = guessPos[0];
    document.getElementById("time").value = takenTime;
    document.getElementById("MPSubmit").submit();
}

function showWord() {
    if (state != "won") {
        state = "lost";
        document.getElementById("info").innerHTML = "You lost! The correct word was: " + word;
    }
}

function setupGame() {
    word = atob(document.getElementById("wordTxtIn").value.trim().split("'")[1]);
    wordLen = document.getElementById("lengthIn").value;
    tries = document.getElementById("triesIn").value;
    
    let availableWordsString = document.getElementById("availableWordsIn").value.replace("[", "").replace("]", "").replaceAll(" ", "").replaceAll("'", "");
    let tempWord = "";
    for (let i in availableWordsString) {
        if (availableWordsString[i] == ",") {
            availableWords.push(tempWord);
            tempWord = "";
        }
        else tempWord += availableWordsString[i];
    }

    if (tries < 1) {
        infiniteTries = true;
        tries = 1;
    }

    guesses = [];
    for (let i = 0; i < tries; i++) {
        guesses.push([]);
        for (let j = 0; j < wordLen; j++) {
            guesses[i].push("");
        }
    }

    stat = [];
    for (let i = 0; i < tries; i++) {
        stat.push([]);
        for (let j = 0; j < wordLen; j++) {
            stat[i].push(0);
        }
    }

    usedLetters = [];
    for (let i in alphabet) {
        usedLetters.push(0);
    }

    draw();
    startTime = Date.now();
}

function search(x) {
    let start = 0;
    let end = availableWords.length-1;

    while (start <= end){
        let mid = Math.floor((start + end)/2);
        if (availableWords[mid] == x) return true;
        else if (availableWords[mid] < x) start = mid + 1;
        else end = mid - 1;
    }
    return false;
}
</script>
{% endblock %}

{% block body %}
<body class="centerText" onload="setupGame()">
    <input id="cupIn" type="hidden" name="cupIn" value="{{ cup }} " />
    <input id="wordTxtIn" type="hidden" name="wordTxt" value="{{ encoded_word }} " />
    <input id="lengthIn" type="hidden" name="length" value="{{ word_length }}" />
    <input id="triesIn" type="hidden" name="tries" value="{{ tries }}" />
    <input id="availableWordsIn" type="hidden" name="availableWords" value="{{ availableWords }}" />

    {% if mode %}
        <h1>Wordle<sup>+</sup> SP</h1>
    {% else %}
        <h1>Wordle<sup>+</sup> MP {{ cup }}</h1>
    {% endif %}

    <div id="holder"></div>
    
    <p id="info"></p>

    {% if mode %}
        <div>
            <button id="showWord" type="button" onclick="showWord()">Show Word</button>
            <a href="{% url 'wordle:display_SP_launcher' %}">
                <button type="button">New Word</button>
            </a>
            <br />

            <a href="{% url 'wordle:back_to_welcome' %}">
                <button class="smallButton" type="button">
                    Back
                </button>
            </a>
        </div>
    {% else %}
        <button id="MPSubmitButton" type="button" onclick="sendScore()" hidden>
            Submit Score
        </button>
        <br />

        <a id="MPBackButton" href="{% url 'wordle:display_MP_hub' %}">
            <button class="smallButton" type="button">
                Back
            </button>
        </a>

        <form id="MPSubmit" action="{% url 'wordle:MP_receive_score' %}" method="post" hidden>
            {% csrf_token %}
            <input type="hidden" id="cupName" name="cupName" value="" />
            <input type="hidden" id="word" name="word" value="" />
            <input type="hidden" id="guesses" name="guesses" value="" />
            <input type="hidden" id="time" name="time" value="" />
            <input type="hidden" id="doubleLettersSub" name="doubleLettersSub" value="{{ doubleLetters }}" />
            <input type="hidden" id="triesSub" name="triesSub" value="{{ tries }}" />
        </form>
    {% endif %}
</body>
{% endblock %}