<!DOCTYPE html>
<html charset="UTF-8" lang="en-US">

<head>
    <title>WORDLE OFFLINE</title>
    <meta charset="utf-8">
    <meta name="description" content="Worlde Unlimited Offline">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/style.css' %}">
    <link rel="stylesheet" href="style.css">
    <script defer src="{% static 'wordle/script.js' %}"></script>
</head>

<body onload="setupGame()">

    <input id="wordIn" type="hidden" name="word" value="{{ word.txt }} " />
    <input id="lengthIn" type="hidden" name="length" value="{{ word.length }}" />
    <input id="triesIn" type="hidden" name="tries" value="{{ tries }}" />
    <input id="availableWordsIn" type="hidden" name="availableWords" value="{{ availableWords }}" />

    <h1>Wordle Offline</h1>

    <div id="holder"></div>
    
    <p id="info"></p>

    <div class="row">
        <button type="button" onclick="showWord()">Show Word</button>
        <a href="{% url 'wordle:SPLauncher' %}"><button type="button">New Word</button></a>
    </div>

</body>


</html>