{% extends "wordle/base.html" %}

{% block title %}
    {% if mode %}
        Wordle+ SP
    {% else %}
        Wordle+ MP {{ cup }}
    {% endif %}
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/game.css' %}">
{% endblock %}

{% block js %}
    {% load static %}
    <script defer src="{% static 'wordle/game.js' %}"></script>
{% endblock %}

{% block body %}
<body class="centerText" onload="setupGame()">
    <input id="cupIn" type="hidden" name="cupIn" value="{{ cup }} " />
    <input id="wordTxtIn" type="hidden" name="wordTxt" value="{{ word.txt }} " />
    <input id="lengthIn" type="hidden" name="length" value="{{ word.length }}" />
    <input id="triesIn" type="hidden" name="tries" value="{{ tries }}" />
    <input id="availableWordsIn" type="hidden" name="availableWords" value="{{ availableWords }}" />

    {% if mode %}
        <h1>Wordle<sup>+</sup> SP</h1>
    {% else %}
        <h1>Wordle<sup>+</sup> MP {{ cup }}</h1>
    {% endif %}

    <div id="holder"></div>
    
    <p id="info"></p>

    {% if mode %}
        <div>
            <button id="showWord" type="button" onclick="showWord()">Show Word</button>
            <a href="{% url 'wordle:display_SP_launcher' %}">
                <button type="button">New Word</button>
            </a>
            <br />

            <a href="{% url 'wordle:back_to_welcome' %}">
                <button class="smallButton" type="button">
                    Back
                </button>
            </a>
        </div>
    {% else %}
        <button id="MPSubmitButton" type="button" onclick="sendScore()" hidden>
            Submit Score
        </button>
        <br />

        <a id="MPBackButton" href="{% url 'wordle:display_MP_Hub' %}">
            <button class="smallButton" type="button">
                Back
            </button>
        </a>

        <form id="MPSubmit" action="{% url 'wordle:MP_receive_score' %}" method="post" hidden>
            {% csrf_token %}
            <input type="hidden" id="cupName" name="cupName" value="" />
            <input type="hidden" id="word" name="word" value="" />
            <input type="hidden" id="guesses" name="guesses" value="" />
            <input type="hidden" id="time" name="time" value="" />
        </form>
    {% endif %}
</body>
{% endblock %}