{% extends "wordle/base.html" %}

{% block title %}Wordle+ Login{% endblock %}

{% block body %}
    <form action="{% url 'wordle:check_login' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Login</h1></legend>

            <label for="username">Username:</label>
            <br />
            <input type="text" id="username" name="username" value="{% if a %}{{ a }}{% endif %}">
            <br />
            
            <label for="password">Password:</label>
            <br />
            <input type="password" id="password" name="password" value="{% if b %}{{ b }}{% endif %}">
            <br />

            {% if error_message %}
                <strong>{{ error_message }}</strong>
            {% endif %}
            <br />

        </fieldset>
        <input type="submit" value="Login" />
        <a href="{% url 'wordle:display_signup_page' %}">
            <button type="button">Don't have an account? (Signup)</button>
        </a>
    </form>

    <a href="{% url 'wordle:back_to_welcome' %}">
        <button type="button">
            Back
        </button>
    </a>
{% endblock %}