<!DOCTYPE html>
<html charset="UTF-8" lang="en-US">

<head>
    <title>Wordle+ MP</title>
    <meta charset="utf-8">
    <meta name="description" content="Worlde Unlimited Offline Plus +">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/style.css' %}">
    <script defer src="{% static 'wordle/MPLauncher.js' %}"></script>
</head>

<h1>Multiplayer Hub</h1>

<h3>Modes</h3>
Scoring: Least amout of gueses, tie breaker is time
<dl>
    <dt><a onclick="Launch(5, 6, false, '6x5')">6x5</a></dt>
        <dd>Random word</dd>
        <dd>6 tries</dd>
        <dd>5 letters long</dd>
        <dd>Double letters not allowed</dd>
        <dd>1 word</dd>
        <dd>
            <a href="{% url 'wordle:rankings' '6x5' %}">
                View rankings
            </a>
        </dd>
    <dt><a onclick="Launch(5, 0, true, '0x5')">&#8734;x5</a></dt>
        <dd>Random word</dd>
        <dd>Infinite tries</dd>
        <dd>5 letters long</dd>
        <dd>Double letters allowed</dd>
        <dd>1 word</dd>
        <dd>
            <a href="{% url 'wordle:rankings' '0x5' %}">
                View rankings
            </a>
        </dd>
    <dt><a onclick="Launch(5, 10, false, '10x5 daily')">10x5 DAILY</a></dt>
        <dd>Random word</dd>
        <dd>6 tries</dd>
        <dd>5 letters long</dd>
        <dd>Double letters not allowed</dd>
        <dd>1 word</dd>
        <dd>Scoreboard resets daily!</dd>
        <dd>
            <a href="{% url 'wordle:rankings' '10x5 daily' %}">
                View rankings
            </a>
        </dd>
    <dt><a onclick="Launch(5, 0, false, '0x5 sprint daily')">&#8734;x5 SPRINT DAILY</a></dt>
        <dd>Random word</dd>
        <dd>6 tries</dd>
        <dd>5 letters long</dd>
        <dd>Double letters not allowed</dd>
        <dd>5 minutes to get as many words as possible</dd>
        <dd>Scoreboard resets daily!</dd>
        <dd>
            <a href="{% url 'wordle:rankings' '0x5 sprint daily' %}">
                View rankings
            </a>
        </dd>
</dl>

<a href="{% url 'wordle:backToIndex' %}">
    <button type="button">
        Back
    </button>
</a>

<form id="wordGen" action="{% url 'wordle:Game' 'MP' %}" method="post" hidden>
    {% csrf_token %}
    <input type="hidden" id="wordLenSub" name="wordLenSub" value="" />
    <input type="hidden" id="triesSub" name="triesSub" value="" />
    <input type="hidden" id="doubleLettersSub" name="doubleLettersSub" value="" />
    <input type="hidden" id="cupSub" name="cupSub" value="" />
</form>