{% extends "wordle/base.html" %}

{% block title %}Wordle+ Signup{% endblock %}

{% block body %}
    <form action="{% url 'wordle:create_account' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Sign Up</h1></legend>

            <label for="display">Display name:</label>
            <br />
            <input type="text" id="display" name="display" value="{% if a %}{{ a }}{% endif %}" />
            <br />

            <label for="username">Username:</label>
            <br />
            <input type="text" id="username" name="username" value="{% if b %}{{ b }}{% endif %}">
            <br />

            <label for="password1">Password:</label>
            <br />
            <input type="password" id="password1" name="password1" value="{% if c %}{{ c }}{% endif %}">
            <br />
            
            <label for="password2">Repeat password:</label>
            <br />
            <input type="password" id="password2" name="password2" value="{% if d %}{{ d }}{% endif %}">
            <br />

            {% if error_message %}
                <strong>{{ error_message }}</strong>
            {% endif %}
            <br />

        </fieldset>
        <input type="submit" value="Create Account" />
        <a href="{% url 'wordle:display_login_page' %}">
            <button type="button">Already have an account? (Login)</button>
        </a>
    </form>

    <a href="{% url 'wordle:back_to_welcome' %}">
        <button type="button">
            Back
        </button>
    </a>
{% endblock %}