{% extends "wordle/base.html" %}

{% block title %}Wordle+ Signup{% endblock %}

{% block body %}
    <form id="content" class="centerText blue" action="{% url 'wordle:create_account' %}" method="post">
        {% csrf_token %}
        <h2>
            Wordle<sup>+</sup>
        </h2>

        <h1 id="mainHeader">Sign Up</h1>

        <label for="display">Display name:</label>
        <br />
        <input type="text" id="display" name="display" value="{{ a }}" autofocus/>
        <br />

        <label for="username">Username:</label>
        <br />
        <input type="text" id="username" name="username" value="{{ b }}">
        <br />

        <label for="password1">Password:</label>
        <br />
        <input type="password" id="password1" name="password1" value="{{ c }}">
        <br />
        
        <label for="password2">Repeat password:</label>
        <br />
        <input type="password" id="password2" name="password2" value="{{ d }}">
        <br />

        {% if error_message %}
            <strong>{{ error_message }}</strong>
        {% endif %}
        <br />

        <button type="submit">
            Create Account
        </button>
        <br />

        <a href="{% url 'wordle:display_login_page' %}">
            <button class="smallButton" type="button">Already have an account? (Login)</button>
        </a>
        <a href="{% url 'wordle:back_to_welcome' %}">
            <button class="smallButton" type="button">
                Back
            </button>
        </a>
    </form>
{% endblock %}