{% extends "wordle/base.html" %}

{% block title %}Wordle+ Home{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wordle/welcome.css' %}">
{% endblock %}

{% block js %}
    {% load static %}
    <script defer src="{% static 'wordle/hover.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="content" class="centerText blue">
        <h1>
            Wordle<sup>+</sup>
        </h1>

        {% if is_login %}
            <h4>Welcome, {{ display_name }}!</h4>
        {% else %}
            <h4 id="smallHeader">Greetings traveler.</h4>
            <hr class="highlight" />
            <p id="mainText" class="highlight">
                Welcome to Wordle<sup>+</sup>, the best place for all your Wordle desires.
                Here you can play normal Worlde, choose custom rules (like 7 letters
                long and infinite tries), or play in ranked global online tournaments.
                Signing up is free forever and you can play as much as you want.
            </p>
        {% endif %}

        <hr class="highlight" />
        <br />

        <ul id="noFormatList">
            {% if is_login %}
                <li>
                    <a href="{% url 'wordle:logout_user' %}">
                        <div id="hover1" class="highlight colors1 blue" onmouseenter="hover('hover1', true)" onmouseleave="hover('hover1', false)">
                            Log Out
                        </div>
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'wordle:display_account_settings' %}">
                        <div id="hover2" class="highlight colors1 blue" onmouseenter="hover('hover2', true)" onmouseleave="hover('hover2', false)">
                            Account Settings
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'wordle:display_MP_hub' %}">
                        <div id="hover3" class="highlight colors1 blue" onmouseenter="hover('hover3', true)" onmouseleave="hover('hover3', false)">
                            Multiplayer
                        </div>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'wordle:display_login_page' %}">
                        <div id="hover4" class="highlight colors1 blue" onmouseenter="hover('hover4', true)" onmouseleave="hover('hover4', false)">
                            Login
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'wordle:display_signup_page' %}">
                        <div id="hover5" class="highlight colors1 blue" onmouseenter="hover('hover5', true)" onmouseleave="hover('hover5', false)">
                            Signup
                        </div>
                    </a>
                </li>
                <li class="colors3">Must be logged in to play online!</li>
            {% endif %}
            <li>
                <a href="{% url 'wordle:display_SP_launcher' %}">
                    <div id="hover6" class="highlight colors1 blue" onmouseenter="hover('hover6', true)" onmouseleave="hover('hover6', false)">
                        Practice/Single Player
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}