{% extends "wordle/base.html" %}

{% block title %}Wordle+ Home{% endblock %}

{% block body %}
    <div id="content" class="centerText blue">
        <h1>Greetings Traveler</h1>

        {% if is_login %}
            <p>Hello there, {{ display_name }}!</p>
        {% endif %}
        
        <ul class="noFormatList blue">
            {% if is_login %}
                <li><a href="{% url 'wordle:logout_user' %}">Log Out</a></li>
                <li>
                    <div class="highlight blue">
                        <a href="{% url 'wordle:display_account_settings' %}">Account Settings</a>
                    </div>
                </li>
                <li><a href="{% url 'wordle:display_MP_Hub' %}">Multiplayer</a></li>
            {% else %}
                <li><a href="{% url 'wordle:display_login_page' %}">Login</a></li>
                <li><a href="{% url 'wordle:display_signup_page' %}">Sign Up</a></li>
                <li>Must be logged in to play online!</li>
            {% endif %}
            <li><a href="{% url 'wordle:display_SP_launcher' %}">Practice/Single Player Wordle+</a></li>
        </ul>
    </div>
{% endblock %}