:root {
    --c1: #3B4252;
    --c2: #ECEFF4;
    --c3: #8FBCBB;
}

body {
    color: var(--c2);
    font-size: 130%;
    background-color: var(--c1);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--c2);
    padding-top: 0px;
    margin-top: 0px;
}

.noFormatList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center {
    margin: 0 auto;
}

.centerText {
    text-align: center;
}

#content {
    color: var(--c1);
    background-color: var(--c3);
    width: 60%;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.highlight {
    width: 60%;
    margin: 0 auto;
}

.colors1 {
    color: #2E3440;
    background-color: var(--c3);
}

.colors2 {
    color: var(--c3);
    background-color: var(--c1);
}

.blue {
    border: 1px solid red   ;
}